@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

body{
  font-family: 'Abril Fatface';
}

h1{
font-family: 'Gotu', sans-serif;
  font-size: 3em;
  margin-bottom: 1.25em;
}

h2{
font-family: 'Gotu', sans-serif;
  font-size: 3em;
margin-bottom: 1em;
}

h3{

}

h4{

}

h5{

}
